PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/plandem
SUPERADMIN_EMAIL=admin@plandem.com
SUPERADMIN_PASSWORD=CAMBIA_ESTA_PASSWORD_SEGURA
JWT_SECRET=CAMBIA_ESTE_SECRETO_LARGO
JWT_EXPIRES_IN=7d
OTP_EMAIL_ENABLED=true
OTP_EXP_MINUTES=10
OTP_MAX_ATTEMPTS=5
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@plandem.es
ALLOW_CONSOLE_OTP=true
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=plandem/perfiles
CLOUDINARY_PROFILE_STORAGE_REQUIRED=false
CLOUDINARY_STORAGE_REQUIRED=true
MIGRAR_UPLOADS_LEGACY_ON_START=true
